body {
    background-image: url("okk.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 130vh
}

.text1 {
    width: 77%;
    text-align:center;
    margin-top:9px;
    margin-left: 180px;
    margin-right: 56px;
    color: white;
}

.unlock {
    margin-bottom: 8px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.6px;
}

.beauty {
    margin-bottom: 15px;
    margin-top: -4px;
    font-family: 'Montserrat', sans-serif;
    font-size: 31px;
    font-weight: 700;
    letter-spacing: 0.6px;
}

.just {
    margin-bottom: -4px;
    margin-top: 11px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.6px;
}

.revl {
    margin-top: 8px;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    line-height: 1.8;
    font-weight: 500;
}

.set {
    margin-left: 56px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #434346;
    padding-top:30px;
}

.q {
    color: #FB5888;
}
