body {
    background-image: url('spp.png');
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    margin-left: -32px;
    font-size: 32px;
    margin-top: 32px;
    font-weight: 700;
}

#myDropDownList2, #inputtext {
    width: 50%;
}

select {
    background-color: #f15d88;
    color: #434346;
    border: none;
    padding: 5px;
    color: white;
    font-size: 6px;
    font-family: 'Montserrat', sans-serif;
}

    select option {
        background-color: #434346;
        color: white;
        font-family: 'Montserrat', sans-serif;
        cursor: pointer;
    }

        select option:hover {
            cursor: pointer;
            color: white;
        }

    select::-ms-expand {
        color: #f15d88;
    }

}

.form-group input {
    background-color: #f15d88;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    border: none;
    width: 100px;
}


.content pre {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 26px;
    line-height: 44px;
    color: #fff;
    text-align: right;
}

.content p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 21px;
    line-height: 20px;
    color: #fff;
    text-align: right;
    margin-top: 8%;
}

.content h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 41px;
    line-height: 42px;
    color: #fff;
    text-align: right;
}

.content {
    position: absolute;
    width: 680px;
    height: 368px;
    left: 742px;
    top: 211px;
    font-family: 'Montserrat';
    font-style: normal;
    line-height: 40px;
    /* or 175% */
    text-align: right;
    color: #FFFFFF;
}

#myDropDownList1, #myDropDownList2 {
    width: 50%;
    border-radius: 5px;
    color: #fff;
    background-color: #625c5c;
}

input.form-group {
    width: 40%;
    border-radius: 5px;
    background-color: #625c5c;
    margin-bottom: 0px;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 0px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.row1{
    margin-top:40px;
}

h1 {
    margin-left: 2px;
    margin-top: 56px;
}

.btn-primary {
    background-color: #FC587E;
    border:none;
}

    .btn-primary:hover {
        background-color: darkred;
    }
