.pattern-output {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

html {
    font-size: 14px;
}


html {
    position: relative;
    min-height: 100%;
}

.display-4 {
    margin-top: 136px;
    font-size: 76px;
    font-weight: bold;
    color: aliceblue;
}

.display-5 {
    font-size: 16px;
    color: aliceblue;
}


body {
    margin-bottom: 60px;
    background-image: url("5297078.jpg");
    background-position: center;
    background-size: 1500px 900px;
    color: aliceblue;
    font-family: 'Trebuchet MS';
}

button {
    background-color: navy;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/*.navbar-brand {
    .hover-underline-animation:

{
    display: inline-block;
    position: relative;
    color: #0087ca;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
}
*/