.pattern-output {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

html {
    font-size: 14px;
}


html {
    position: relative;
    min-height: 100%;
}

.display-4 {
    margin-top: 136px;
    font-size: 76px;
    font-weight: bold;
    color: aliceblue;
}

.display-5 {
    font-size: 16px;
    color: aliceblue;
}


body {
    margin-bottom: 60px;
    background-image: url("5297078.jpg");
    background-position: center;
    background-size: 1500px 900px;
    color: aliceblue;
    font-family: 'Arial';
    
}

button {
    background-color: transparent;
    color: white;
    padding: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: underline;
}

form {
   /* text-align: center */
    display : block;
}

.col-md-4 {
    text-align: center ;
    display: block;
}
}


/* Set font and background color for form inputs */
/*input[type="text"], input[type="email"], input[type="password"] {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
}*/


/*.navbar {
    background-color: #333;
    overflow: hidden; 
    font-family: Arial, sans-serif; 

    
.navbar a {
        float: left; 
        display: block; 
        color: #f2f2f2; 
        text-align: center; 
        padding: 14px 16px; 
        text-decoration: none; 
    }

.navbar a:hover {
            background-color: #ddd;
            color: black;
        }*/

/* Active link */
/*.active {
    background-color: #4CAF50;
    color: white;
}*/

/*.navbar-brand {
    .hover-underline-animation:

{
    display: inline-block;
    position: relative;
    color: #0087ca;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
}
*/